{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div class="checkout-container">
    
    <div style="box-shadow: -5px -5px 6px grey;" class="child-1">
       
        <div style="padding: 0 1px; margin-top: 0;" class="addr-form-det">   
             <h2>Shipping Information</h2>
            
        </div>
        <form id="form" class="user-info">
         
        <div id="form-det-1">
            <div class="addr-form-det">   
                 <input class="box-inputs" name="fname" type="text" placeholder="Full name" required>

            </div>

            <div class="addr-form-det">
                <input class="box-inputs" name="email" type="text" placeholder="email" required>
            </div>

            <div class="addr-form-det">
                <input class="box-inputs" name="phone" type="text" placeholder="Phone Number" required>
            </div>

            <div class="addr-form-det">
                <input class="box-inputs" name="address" type="text" placeholder="Address" required>
            </div>

            <div class="addr-form-det">
                <input class="box-inputs" name="postalcode" type="text" placeholder="Postal Code" required>
            </div>

            <div style="border-bottom: none;" class="addr-form-det">
                <input style="margin-bottom: 20px;" class="btn btn-success pull-right ship-btn" type="submit" value="Submit">
            </div>
        </div>
    <!--        hidden items in checkout page-->
    
    
<!--
            <div id="payment" class="addr-form-det hide-item">
               <h3 style="color: black;">Proceed to Enter Mpesa pin on the phone<br>Registered with the number you input below</h3>

            </div>

            <div id="payment-1" class="addr-form-det hide-item">
                <input class="box-inputs" name="payphone" type="text" placeholder="Phone number">
                <br>
                <h4 style="color: black;"><strong>Total:Ksh {{ order.get_cart_total }}</strong></h4>
            </div>

            <div style="border-bottom: none;" id="payment-2" class="addr-form-det hide-item">
                <button id="make-payment" style="margin-bottom: 20px;" class="success-btn ship-btn">Pay</button>
            </div>
-->
    
           
            <div id="payment" class="addr-form-det hide-item">
               <h4 style="color: black;">Proceed to pay to till no. 12345 amd<br> Enter Mpesa CODE from the payment below</h4>

            </div>

            <div id="payment-1" class="addr-form-det hide-item">
                <input id="mpesa_code" class="box-inputs" name="payphone" type="text" placeholder="MPESA CODE">
                <br>
                <h4 style="color: black;"><strong>Total:Ksh {{ order.get_cart_total }}</strong></h4>
            </div>

            <div style="border-bottom: none;" id="payment-2" class="addr-form-det hide-item">
                <button id="make-payment" style="margin-bottom: 20px;" class="btn btn-success pull-right ship-btn">Validate</button>
                <a id="go-back" style="margin-bottom: 20px; background-color: rgba(0, 0, 0, .25);" class="btn btn-success">Go Back</a>
            </div>

    
    
    

    <!--        end of hidden items -->
            </form>
    </div>
    
    <div style="box-shadow: -5px -5px 6px grey;" class="child-2">
        
        <div class="addr-form-det">
            
            <a style="text-decoration: none;" class="btn btn-success pull-right" href="{% url 'cart' %}">Back to Cart</a>
            
        </div>
        
        <div class="addr-form-det">
            
            <h1>Order Summary</h1>
            
        </div>
        {% for item in items %}
        <div class="addr-form-det-3">
            
                    <div style="grid-column-start: 1;">
                        
                        
                        
                    <div style="width: 100%; height: 4vh;">
                         <img style="width: 100%; height: 100%; object-fit: scale-down;" src="{{ item.product.imageURL }}" alt="product image">
                     </div>
                        
                    </div>
                    <div style="grid-column-start: 2;"><strong>{{item.product.name}}</strong></div>
                    <div style="grid-column-start: 3;"><strong>Ksh{{item.product.price|floatformat:2}}</strong></div>
                    <div style="grid-column-start: 4;"><strong>x{{item.quantity}}</strong></div>
            
        </div>
        
        {% endfor %}
        <div class="addr-form-det-4">
            
            <h4 style="color: black;">Items: {{order.get_cart_items}}</h4>
            <h4 style="margin-bottom: 10px; color: black;">Total: Ksh{{order.get_cart_total|floatformat:2}}</h4>
            
        </div>
        
    </div>
    
</div>

<script type="text/javascript">
    
    var total = '{{order.get_cart_total}}'

    

    
    var form = document.getElementById('form')
    var mpesa_code = document.getElementById("mpesa_code");
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form Submitted...')
        document.getElementById('form-det-1').classList.add("hide-item");
        document.getElementById('payment').classList.remove("hide-item");
        document.getElementById('payment-1').classList.remove("hide-item");
        document.getElementById('payment-2').classList.remove("hide-item");
        mpesa_code.required = true;
    })

    // back btn in payment functionality..........
    var back_btn = document.getElementById('go-back')
    
    back_btn.addEventListener("click", function(){
        console.log("back")
        mpesa_code.required = false;
        document.getElementById('form-det-1').classList.remove("hide-item");
        document.getElementById('payment').classList.add("hide-item");
        document.getElementById('payment-1').classList.add("hide-item");
        document.getElementById('payment-2').classList.add("hide-item");
    })
    
    

    document.getElementById('make-payment').addEventListener('click', function(e){
        
        if (mpesa_code.value.length < 8){
            alert("code is too short")
        }else{
            submitFormData()
        }
                    
    })    
    

    
    
    
    
    
    function submitFormData(){
        var userPayData = {
            'name': form.fname.value,
            'payphone': form.payphone.value,
            'total':total,
        }
        
        var shippingInfo = {
            'fname': form.fname.value,
            'email': form.email.value,
            'phone': form.phone.value,
            'address': form.address.value,
            'postalcode': form.postalcode.value,
            'total':total,
        }
        
        
        var url = '/process_order/';

                fetch(url, {
                    method:'POST',
                    headers: {
                        'Content-Type':'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body:JSON.stringify({'shipping': shippingInfo,'userPayData': userPayData,})

                })
                .then(response => response.json())
                .then(data => {
                    console.log('success:',data);
                    alert('Transaction completed');
                    // deleting the cart cookie on complete transaction
                    cart = {}
                    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";

                    window.location.href = "{% url 'store' %}"
                })
        
        
    }
    
    
    
    
</script>



{% endblock %}