{% extends 'store/base.html' %}
{% load static %}



{% block content %}
    <div id="search-results" class="search-results">
        <div class="close_search">
            <i class="far fa-window-close fa-3x"></i>
        </div>
        <div class="store-child-2">
            
            {% for product in products_search %}
                
                <div class="prod-card">
                    <div class="product-top">
                        <img src="{{product.imageURL}}" alt="">
                        <div class="prod-overlay">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-secondary" title=" Add to wishlist">
                                <i class="fa fa-heart" aria-hidden="true"></i></button>
                            <button data-product={{product.id}} data-action="add" class="btn update-cart btn-secondary" type="button" title="Add to cart">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        
                        <h3>{{ product.name }}</h3>
                        <h5>{{ product.price|floatformat:2 }}</h5>
                    </div>
                    
                </div>

         {% endfor %}
         
            
        </div>
    </div>

{% endblock %}