{% extends 'blog/main.html' %}
{% load static %}


{% block content %}

<section class="about_us">
    <div id="section_1">
        <div class="main_about_us_image">
            <div>
                <img src="{% static 'img/julio_cyp.webp' %}" alt="">
            </div>
        </div>
        <div class="main_about_us_text">
            <h1>Hello!</h1>
            <h2>welcome to Our Blog</h2>
            <p>
                we try to dsd sdfkf sdfldsf sdflkfsd dfdls
                fsdfsklfslfkf; dsmfdfds dsfdf dfk f kfd ff lsddf 
                sdfslflsdfkds sdkdf htpwmg dkr'soerm.
            </p>
        </div>
    </div>

    <div id="section_2">
        <p>
            Our goal is to help you organize your thoughts, 
            transform your mind, and overcome any doubts so you can 
            stop stressing about the future, put your faith in God 
            and make things happen now in relation to His will in your life.
        </p>
    </div>

    <div id="section_3">
        <h1>Our Journey</h1>
        <p>
            Our goal is to help you organize your thoughts, 
            transform your mind, and overcome any doubts so you can 
            stop stressing about the future, put your faith in God 
            and make things happen now in relation to His will in your life. 
            Our goal is to help you organize your thoughts, 
            transform your mind, and overcome any doubts so you can 
            stop stressing about the future, put your faith in God 
            and make things happen now in relation to His will in your life.
            <br><br>

            Our goal is to help you organize your thoughts, 
            transform your mind, and overcome any doubts so you can 
            stop stressing about the future, put your faith in God 
            and make things happen now in relation to His will in your life.

            <br><br>

            <span class="our_journey_images">
                <img src="{% static 'img/juliet.jpg' %}" alt="">
                <img src="{% static 'img/julio_cyp.webp' %}" alt="">
            </span>

            <br><br>

            Our goal is to help you organize your thoughts, 
            transform your mind, and overcome any doubts so you can 
            stop stressing about the future, put your faith in God 
            and make things happen now in relation to His will in your life. 
            Our goal is to help you organize your thoughts, 
            transform your mind, and overcome any doubts so you can 
            stop stressing about the future, put your faith in God 
            and make things happen now in relation to His will in your life. 
            Our goal is to help you organize your thoughts, 
            transform your mind, and overcome any doubts so you can 
            stop stressing about the future, put your faith in God 
            and make things happen now in relation to His will in your life. 
            <br><br>
            Our goal is to help you organize your thoughts, 
            transform your mind, and overcome any doubts so you can 
            stop stressing about the future, put your faith in God 
            and make things happen now in relation to His will in your life.


        </p>
    </div>

    <div id="section_4" class="start_here section_5">
        <h1>Aim of this blog</h1>
        <p>Get Started with us</p>
        <div class="welcomers">
            <div class="welcomers_card">
                
                <span>
                    <img src="{% static 'img/health_dish.jpg' %}" alt="">
                </span>
                <span>
                    <p class="link">
                        <a href="">
                            Healthy eating
                        </a>
                    </p>
                </span>
                <span>
                    Some Text sdsd adcd fasdsa asda dkwjwe ajdss
                    ome Text sdsd adcd fasdsa asda dkwjwe ajdss 
                    ome Text sdsd adcd fasdsa asda dkwjwe ajdss
                </span>
                <span class="btn">
                    <a href="">learn more</a>
                </span>
            </div>

            <div class="welcomers_card">
                
                <span>
                    <img src="{% static 'img/fashion.jpg' %}" alt="">
                </span>
                <span>
                    <p class="link">
                        <a href="">
                            Dressing today
                        </a>
                    </p>
                </span>
                <span>
                    Some Text sdsd adcd fasdsa asda dkwjwe ajdss
                    ome Text sdsd adcd fasdsa asda dkwjwe ajdss 
                    ome Text sdsd adcd fasdsa asda dkwjwe ajdss
                </span>
                <span class="btn">
                    <a href="">learn more</a>
                </span>
            </div>

            <div class="welcomers_card">
                
                <span>
                    <img src="{% static 'img/phone_podcast.jpg' %}" alt="">
                </span>
                <span>
                    <p class="link">
                        <a href="">
                            christ our savior
                        </a>
                    </p>
                </span>
                <span>
                    Some Text sdsd adcd fasdsa asda dkwjwe adss
                    ome Text sdsd adcd fasdsa asda dkwjwe ajdss 
                    ome Text sdsd adcd fasdsa asda dkwjwe ajdss
                </span>
                <span class="btn">
                    <a href="">Learn More</a>
                </span>
            </div>
        </div>
    </div>
</section>

{% endblock %}