{% extends 'blog/main.html' %}
{% load static %}


{% block content %}

<style>
    
</style>

<section class="Subs-page">

    <div class="subspage-sec1">
        <h1>
            Join Us Today
        </h1>
    </div>

    <div class="subspage-sec2">
        <p> 
            some text some text some text some text some text some text 
            some text some text some text some text some text some text 
            some text some text some text some text some text some text 
            some text some text some text some text some text some text 

        </p>
    </div>

    <div id="subpage-sec"  class="main_newsletter">
        
        <form id="subs-form" class="form">
            <h4>Subscribe to get updates</h4>
            <input type="text" name="username" placeholder="Your name">
            <input type="text" name="email" placeholder="Your email address">
            <input id="join-list" type="submit" value="Join">
        </form>
    </div>

</section>

<script>

    var form = document.getElementById('subs-form')
    
    form.addEventListener('submit', function(e){
        e.preventDefault()
    })

    document.getElementById('join-list').addEventListener('click', function(e){
        submitFormData()
    })
    function submitFormData(){
        var subscriberData = {
            'name': form.username.value,
            'email': form.email.value,
        }
        
        
        var url = '/process_subscriber/';

                fetch(url, {
                    method:'POST',
                    headers: {
                        'Content-Type':'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body:JSON.stringify({'subscriberData': subscriberData,})

                })
                .then(response => response.json())
                .then(data => {
                    // console.log('success:',data);
                    alert('Received Successfully');
                    form.username.value = "";
                    form.email.value = "";
                    
                })
        
        
    }

</script>

{% endblock %}