{% extends 'store/base.html' %}

{% load static %}
{% block content %}
   
   <style>
        .logout-cont{
            margin: auto;
            margin-block: 15vh;
            min-height: 20vh;
            width: 60%;
            /* background: #2c2f32cc; */
            opacity: .8;
            padding: 20px;
            color: white;
            box-shadow: 5px 5px 5px black, -5px -5px 5px black;
            
        }
    </style>
    
    <div class="logout-cont">
     
            <div style="position: relative;">
                
            <p style="font-size: 35px;">Successfully logged out </p>
            </div>
            
            <div style="position: relative;">
                <a style="text-decoration: none; padding: 8px 20px;" class="btn btn-primary" href="{% url 'users:site-login' %}">Log in</a>
            </div>
            
            
        
    </div>

{% endblock %}