{% extends 'store/base.html' %}

{% load static %}
{% block content %}
   
   <style>
        
    </style>
    <div class="main-profile-container">
        
    <div class="profile-cont">
         <div class="media">
             <img src="{{user.profile.image.url}}" alt="">
         </div>
            
           <div>     
            <p style="font-size: 35px;">{{ user.username }}</p>
            <p style="font-size: 35px;">{{ user.email }}</p>
            <a style="font-size: 20px;" href="{% url 'users:password_change' %}">Change password</a>
            </div>
            
             
   
            
        
    </div>
</div>






{% endblock %}