body{
    margin: 0;
    padding: 0;
    background: #262626;
   
    color: white;
}

.success-msg{
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    background: green;
    color: white;
    font-size: 20px;
    margin-left: 5%;
}

.home-body{
    background: grey; 
    background-size: cover;
}

.home-container{
    position: relative;
    display: flex;
    background: url("/static/img/pexels-ray-piedra-1456706_d3ZDXJE.jpg") center center;
    background-size: cover;
    margin-top: 6%;
    margin-left: 8%;
    width: 80%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 10px 10px 7px 5px rgba(0,0,0,0.5), -5px -5px 9px 5px rgba(0,0,0,0.5);
}
.home-container a{
    text-decoration: none;
    text-align: center;
    color: white;
    line-height: 4vh;
}

.home-container h1{
    position: absolute;
    top: 25vh;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #000000, 4px 4px 4px #000000;
}

.home-container .index-btn{
    position: absolute;
    top: 45vh;
    width: 160px;
    height: 4vh;
    padding-top: 10px;
}

#navigation {
 margin: 0;
 padding: 0 1em;
 background-image: linear-gradient(black, grey,#262626);
 height: 3em;
 list-style: none;

}

#navigation > li {
 float: left;
 height: 100%;
 margin-right: 0.5em;
 padding: 0 1em;
}

#navigation > li > a {
 float: left;
 height: 100%;
 color: white;
 text-shadow: -4px -4px 5px black,-2px -2px 5px black;
 text-decoration: none;
 line-height: 3;
 font-weight: bold;
 text-transform: uppercase;
}

#navigation > li > a:hover {
 color: white;
 text-shadow: -4px -4px 5px black,-2px -2px 5px black;
}



.main-container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 5%;
    margin: 2% 0 2% 20%;
    width: 100vh;
   
}
/*......................*/


.wrapper-box{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(8, 1fr);
    width: 75vw;
    margin: 2% auto 2% auto;
    padding: 3%;
    border: 3px grey solid;
    border-radius: 5px;
}

.wrapper-box .store-child-1{
    grid-column: 1/3;
    height: 35vh;
    box-shadow: -5px -5px 6px grey;
}

.wrapper-box .store-child-1 .store-categories a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.wrapper-box .store-child-2{
    grid-column: 3/7;
    height: 35vh;
    background-image: url('../img/pexels-mstudio-1307128_6NankeQ.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: -5px -5px 6px grey;
    
}

.wrapper-box .store-child-3{
    grid-column: 7/9;
    height: 35vh;
    box-shadow: -5px -5px 6px grey;
}



.wrapper-box-1{
    display: grid;
    justify-content: center;
    grid-gap: 15px;
    width: 75vw;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: 8vh;
    margin: 1% auto 1% auto;
   
    
    
}

.wrapper-box-1 .page-tags{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    overflow: hidden;
    padding-left: 2vw;
    box-shadow: -5px -5px 6px grey, 5px 5px 6px grey;;
}

.wrapper-box-1 .page-tags:hover{
    cursor: pointer;
}

.wrapper-box-1 .page-tags .image-holder{
    position: relative;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    
}

.wrapper-box-1 .store-child-1 .image-holder{
    
    background: url('../img/pexels-mstudio-1307128_6NankeQ.jpg');
    background-position: center;
    background-size: cover;
    
}


.wrapper-box-1 .store-child-2 .image-holder{
    background: url('../img/pexels-mstudio-1307128_6NankeQ.jpg');
    background-position: center;
    background-size: cover;
    
}

.wrapper-box-1 .store-child-3 .image-holder{
    background: url('../img/pexels-mstudio-1307128_6NankeQ.jpg');
    background-position: center;
    background-size: cover;
}

.wrapper-box-1 .store-child-4 .image-holder{
    background: url('../img/pexels-mstudio-1307128_6NankeQ.jpg');
    background-position: center;
    background-size: cover;
}

.wrapper-box-2{
    width: 71vw;
    margin: 2% auto 2% auto;
    padding: 5%;
    border-radius: 5px;
    border: 3px grey solid;
}

/*pruduct cards.............................................*/



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  
}


.price {
  color: grey;
  font-size: 22px;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: coral;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    width: 95%; 
    border-radius: 5px; 
    margin: auto; 
    /*box-shadow:  0 0 20px grey;*/
}


.card button:hover {
  opacity: 0.7;
}

/*......................*/

/*......contact form..........*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 500px; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



/*............................*/
.sticky-cart-icon{
    width: 2.5vh;
    height: 2.5vh;
    position: fixed;
    top: 940px;
    left: 90%;
}

.cart-icon{
    width: 2.5vh;
    height: 2.5vh;
    position: relative;
    top: -40px;
    left: 70%;
    
}


.cart-num{
    position: relative;
    top: -50px;
    left: 2vh;
    
    
}

.cart-num span{
    background: green;
    border-radius: 50%;
    padding: 5px 8px;
    z-index: -1;
}


/*cart page*/

.cart-container{
    padding: 5%;
   
}
/*
.cart-details{
    display: grid;
    grid-gap: 50px;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    text-align: center;
}
*/

.box-element .b-shopping{
    text-decoration: none;
    color: white;
}

.cart-rows{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.success-btn{
    background: green;
    padding: 10px;
    color: white;
    height: 5vh;
    width: 11vh;
    border:1px white solid;
    border-radius: 5px;
    
}
.success-btn:hover{
    transition: 2s;
    transform: scale(1.1);
}

.table{
    width: 100%;
}

.table .success-btn{
    position: relative;
    left: 40%;
    background: green;
    padding: 10px;
    color: white;
    height: 5vh;
    width: 11vh;
    border:1px white solid;
    border-radius: 5px;
}
.table .success-btn:hover{
    transition: 2s;
    transform: scale(1.1);
}

.checkout-btn{
    text-decoration: none; 
    margin-left: 5px;
}

.quantity{
    position: absolute;
    left: 65%;
    margin-left: 30px;
    
    
}
.quantity p{
    text-align: center;
    position: relative;
    color: white;
    font-size: 20px; 
    text-decoration: none;
    border: 1px black solid;
    border-radius: 50%;
    padding: 0 7px;
    
    
}
.quantity p:hover{
    cursor: pointer;
}

/*checkout page*/


.hide-item{
    display: none;
}

.checkout-container{
    padding: 2% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: auto;
    overflow: auto;
}



.checkout-container .child-1{
    width: 100%;
    height: 60vh;
    border: 2px black solid;
    overflow: hidden;
}

.checkout-container .child-2{
    width: 100%;
    height: 50vh;
    border: 2px black solid;
    overflow: auto;
}

.checkout-container .addr-form-det{
    width: 95%;
    height: 5vh;
    margin-left: 2%; 
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom:1px solid #ececec;
    
}

.checkout-container .addr-form-det-3{
    width: 95%;
    height: 5vh;
    margin-left: 2%; 
    margin-top: 30px;
    border-bottom:1px solid #ececec;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    
    
}

.checkout-container .addr-form-det-4{
    width: 95%;
    height: 7vh;
    margin-left: 2%; 
    margin-top: 30px;
    border-bottom:1px solid #ececec;
    
}

.checkout-container .addr-form-det .box-inputs{
    width: 80%;
    height: 4vh;
    border-radius: 3px;
    border: 1px #ececec solid;
    padding-left: 5px;
}




@media only screen and (max-width:1100px){
    .main-container{
        position: absolute;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .prod-holder{
        width: 100%;
        
    }
    .prod-holder .btn{
        margin-top: -70px;
        margin-left: 58%;
    }

    #navigation{
        overflow: hidden;
    }
    .cart-icon{
    position: relative;
    top: -40px;
    left: 530px;
    }
    .checkout-container{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .wrapper-box-1{
    width: 70%;
    margin: 2% 0 2% 15%;
    padding: 5px;
    }
    .wrapper-box{
    width: 70%;
    margin: 2% 0 2% 15%;
    padding: 16px;
    
    }
    .wrapper-box .store-child-1{
        display: none;
    }
    .wrapper-box .store-child-2{
        grid-column: 1/5;
    }
    .wrapper-box .store-child-3{
        grid-column: 5/8;
    }
    
}






